#rooms{
  margin-top:55px;
  height:auto;
  background:white;
  width:100%;
}

#c1, #c2, #c3, #c4, #c5, #col1, #col2, #col3, #col4, #col5{
  height:100%;
  background:#ccffbb;
  padding:0px;
  margin:0px;
}

#r1, #r2, #r3, #r4, #r5{
  width:100%;
  margin:10px auto;
  height:auto;
  background:transparent;
}

#l1, #l2, #l3, #l4, #l5{
  border:solid 1px #86ac41;
  background:#86ac41;
  padding:10px;
  color:white;
}

#row1, #row2, #row3, #row4, #row5, #row6, #row7, #row8, #row9, #row10{
  padding:0px;
  background:transparent;
  margin:0px;
  width:100%;
}

#row2col, #row4col, #row6col, #row8col, #row10col{
  text-align:right;
  height:40px;
  margin:0px;
}

#Description{
  padding:0px;
  background:transparent;
  color:#000000;
  text-align:justify;
  margin-top:20px;
}

#pay_content{
  width:100%;
  padding:0px;
  background:transparent;
  margin:0px;
}

div#first.row{
  width:100%;
  padding:0px;
  background:transparent;
}

#firstpar, #secondpar{
  width:90%;
  padding:20px;
  margin-left:auto;
  font-family:'Archivo Narrow';
  border-left:solid 10px #7cc355;
  margin-bottom:10px;
}

div#first_row.col-md-12{
  padding:0px;
}

#j1, #j2, #j3, #j4, #j5{
  background:transparent;
}

h3{
  font-family:'Oswald';
  padding:0px;
}

#row1col, #row3col, #row5col, #row7col, #row9col{
  height:auto;
  margin:0px;
  width:100%;
  color:#a4d555;
}

