div#space{
  height:50px;
}

div#table{
  margin-top:30px;
}

div.table-responsive{
  padding-left:20px;
  padding-right:20px;
}

p.lead.text-uppercase.text-center.text-info{
  margin-top:50px;
}

body {
	background: linear-gradient(to bottom, #ccffcc 0%, #ffffff 100%);
}

[aria-expanded="false"] > .expanded,
[aria-expanded="true"] > .collapsed {
  display: none;