p#choose_footer.company-name{
  font-size:15px;
  padding:20px;
  text-align:center;
}

footer{
  background-color:#373737;
  box-shadow:0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing:border-box;
  width:100%;
  text-align:left;
  font:bold 16px sans-serif;
  padding:0px;
  margin-top:20px;
  bottom:0;
  color:#fff;
}

footer{
  background-color:#292c2f;
  box-shadow:0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing:border-box;
  width:100%;
  text-align:left;
  font:bold 16px sans-serif;
  padding:0px;
  margin-top:20px;
  bottom:0;
  color:#fff;
}

