#confirm_title{
  margin:0px;
  padding:0px;
  background:transparent;
}

h2#title{
  text-indent:30px;
  padding:10px;
  color:white;
  width:70%;
  background:#73a624;
  font-family:'Oswald';
  margin:0px;
}

