.navbar{
  background:#373737;
  border:none;
}

.navbar-nav > li > a{
  padding-top:23px;
  line-height:25px;
  font-family:'Open Sans';
}

.nav.navbar-nav.navbar-right li a{
  color:white;
  font-family:sans-serif;
  padding-bottom:10px;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
	background: #73a624;
}

