div#cont{
  background:transparent;
  width:100%;
  height:auto;
}

#cont{
  width:100%;
  height:600px;
  text-align:center;
}

div#containerRow.row{
  margin:0px;
  padding:20px;
  background:transparent;
  width:100%;
}

#to-do1, #to-do2, #to-do3{
  height:auto;
  padding:0px;
}

#picture1, #description1, #picture2, #description2, #picture3, #description3{
  margin:0px;
  width:auto;
  background:transparent;
}

#jumbo1, #jumbo3{
  background:#e6e6e6;
  border-radius:100%;
  padding:100px;
  color:#73a624;
}

h2#j1_title.text-center{
  font-family:'Lobster';
  color:#73a624;
}

#j1_description, #j3_description #j2_description,{
  font-family:'Oswald';
}

h2#j3_title.text-center{
  font-family:'Courgette';
}

