#home_navbar{
  border:none;
  background:transparent;
}

.navbar-nav > li > a{
  padding-top:23px;
  line-height:25px;
}

#about{
  text-align:center;
  padding:40px;
}

ul.nav.navbar-nav.navbar-right{
  font-size:15px;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover{
  background:#73a624;
  color:#ffffff;
  border-bottom:solid 2px white;
}

.nav.navbar-nav.navbar-right li a{
  color:white;
  font-family:sans-serif;
  padding-bottom:5px;
  font-family:'Open Sans';
}

#cont{
  height:100%;
  width:100%;
  margin-top:70px;
}

#contact_row{
  width:60%;
  margin:0 auto;
  background:transparent;
  padding:10px;
}

div#colbttn.col-md-12{
  height:50px;
  width:100%;
}

#home_jumbotron{
  height:46vh;
  background:none;
  width:100%;
  margin-top:5%;
  margin-bottom:20vh;
}

div#colbttn.col-md-12{
  text-align:right;
}

a#bttn{
  font-size:30px;
  border:solid 3px white;
  color:white;
  padding:10px;
}

div#coldesc.col-md-12{
  width:100%;
  margin:0px;
}

#home_content{
  width:100%;
  height:auto;
  background:transparent;
  text-align:center;
  color:white;
}

#home_body{
  overflow:hidden;
  background:url('../../assets/img/cover.jpg');
  background-size:cover;
}

div#intro.jumbotron{
  margin-top:20%;
}

a#bttnlink{
  font-size:20px;
  border:solid 2px #4484ce;
  background:#4484ce;
  padding:10px;
  color:white;
}

#home_opening{
  width:70%;
  font-size:25px;
  font-family:'Oswald';
  margin-left:auto;
  margin-top:10px;
  text-shadow:3px 3px 4px #000000;
  background:rgba(255,255,255,0.5);
  color:#73a624;
}

#home_booklabelcolumn{
  text-align:center;
  margin:0px;
}

p#CI{
  font-size:20px;
  margin:0px;
  width:150px;
}

#home_label1, #home_label2, #home_label3, #home_label4, #home_label5{
  font-size:15px;
  color:#73a624;
  font-family:'Oswald';
}

#home_date1, #home_date2{
  border:solid 1px #73a624;
  font-size:15px;
  color:#73a624;
  background:#ffffff;
}

#search_availability{
  font-size:15px;
  color:white;
  margin-left:5px;
  font-family:'Oswald';
}

div#colFind.col-md-12{
  margin:10px;
}

div#btt.col-md-12{
  text-align:right;
}

a#bttlink{
  font-size:20px;
}

#home_checkbutton{
  color:white;
  background:#73a624;
  width:200px;
  padding:7px;
  margin:0 auto;
  margin-bottom:10px;
}

#home_bookaroomlabel{
  color:#73a624;
  margin:0 auto;
  font-family:'Allura';
  font-size:40px;
}

div#lastcol.col-md-12{
  text-align:right;
  font-size:large;
}

#home_imgborder{
  width:400px;
  height:30px;
  margin:0 auto;
}

#home_bookbutton{
  font-size:20px;
  padding:10px;
  color:#73a624;
  background-color:#ffffff;
  border-top-left-radius:30px;
  border-top-right-radius:30px;
  font-family:'Oswald';
  border:solid 2px #73a624;
  border-bottom:none;
  margin:0px;
}

#home_booknow{
  text-align:center;
  margin-bottom:0px;
  padding-bottom:0px;
}

span.glyphicon.glyphicon-collapse-down{
  color:white;
}

#home_title{
  margin:0px;
  width:70%;
  font-family:'Kaushan Script';
  padding:5px;
  text-shadow:5px 5px 4px #000000;
  background:rgba(255,255,255,0.5);
}

div#footer_row.row{
  margin:0px;
  width:100%;
  padding:40px;
  background:transparent;
}

div#jumbo.jumbotron{
  padding:0px;
  background:transparent;
}

div#first_Offers.row{
  width:100%;
  padding:0px;
}

div.jumbotron{
  background:transparent;
  color:#73a624;
  font-family:'Oswald';
}

.jumbotron > hr{
  border-top:solid 5px #73a624;
  width:40px;
}

#j1_description, #j2_description, #j3_description{
  font-family:'Oswald';
}

#pay_row1, #pay_row2{
  background:#ffffff;
  height:auto;
  width:100%;
  margin:0px;
  padding:15px;
}

div#maplastrow.row{
  background:transparent;
  height:auto;
  width:100%;
  margin:0px;
}

#{
  border:solid 4px #a4d555;
  padding:25px;
  height:auto;
}

p.text-center{
  margin:0px;
}

div#mapj1.jumbotron{
  color:#73a624;
  margin:0px;
  font-family:'Archivo Narrow';
  padding:50px;
  text-align:center;
}

#t, #e{
  margin:0px;
}

p#i{
  font-size:30px;
}

#par, #par1{
  font-size:18px;
  margin-bottom:0px;
  font-family:'Open Sans';
  padding-right:20px;
}

div#pli{
  text-align:center;
}

div#colfirst.col-md-12{
  padding:0px;
  height:auto;
}

#se{
  margin-top:0px;
}

#home_searchdetails{
  width:80%;
  margin:0 auto;
  text-align:center;
  border:double 7px #73a624;
  background:#ffffff;
}

#home_form1{
  width:auto;
}

hr#home_jumbotronhr3{
  border-top:solid 5px #ffffff;
  width:55%;
  margin:0px;
}

body{
  background:linear-gradient(to bottom, #ccffcc 0%, #ffffff 100%);
  overflow-x:hidden;
}

div#choose_check{
  font-size:xx-large;
  color:#343434;
}

#choose_column.col-md-12{
  width:100%;
  padding:0px;
  background:white;
  font-family:'Oswald';
}

#choose_selectcolumn.col-md-4{
  background:linear-gradient(to right, #33cc33 0%, #ffffff 100%);
}

#confirm_title{
  margin:0px;
  padding:0px;
  background:transparent;
}

#book_title{
  margin:0px;
  padding:0px;
  background:transparent;
}

#choose_container{
  background:transparent;
  margin:0px;
  padding:0px;
}

#choose_left{
  padding:0px;
}

#choose_search{
  margin:0px;
}

p#choose_footer.company-name{
  font-size:15px;
  padding:20px;
  text-align:center;
  margin-top: 500px;
}

#choose_rate1, #choose_rate2, #choose_rate3, #choose_rate4, #choose_rate5{
  margin-left:0px;
  padding:10px;
  font-size:20px;
  color:#73a624;
  margin:5px;
  text-align:left;
  border:2px solid #73a624;
  border-radius:10px;
}

#book_summaryrow1, #book_summaryrow2, #book_summaryrow3, #book_summaryrow4, #search_summaryrow4, #search_summaryrow1, #search_summaryrow2, #search_summaryrow3{
  background:transparent;
  margin:0px;
  padding:0px;
}

#choose_text1, #choose_text2, #choose_text3, #choose_text4{
  padding:0px;
  margin:0px;
}

div#pay_selectcolumn.col-md-4{
  background:#33cc33;
}

div#pay_paymentcolumn.col-md-4{
  background:linear-gradient(to right, #33cc33 0%, #ffffff 100%);
}

#pay_1, #pay_2, #pay_3, #pay_4, #pay_5, #pay_6, #pay_7, #pay_8, #pay_9, #pay_10, #reservation_code, #reservation_email, #resrvation_label1, #resrvation_label2, #resrvation_label3, #resrvation_label4{
  font-size:15px;
  color:#73a624;
  padding:5px;
}

input.form-control{
  background:transparent;
  border-color:#73a624;
}

!pay_col1, #pay_col2{
  padding:0px;
}

#pay_col1, #pay_col2{
  padding:0px;
}

div#home_button.row{
  background:transparent;
  margin:0px;
}

img#pool{
  height:90vh;
  width:100vw;
}

div#rooms_carousel.row{
  margin:0px;
  background:transparent;
}

img#lobby.img-rounded{
  width:100vw;
  height:90vh;
}

img#bedroom{
  width:100vw;
  height:90vh;
}

#early_bird, #christmass_offer{
  height:555px;
  margin:auto 0;
  padding:40px;
}

hr{
  border-top:solid 5px #73a624;
  width:40px;
}

img#gift{
  width:500px;
  height:300px;
}

img#early_birdimg{
  width:350px;
  height:350px;
}

img#logo{
  height:130px;
}

div#chose_summaryrow4.row{
  margin-top:20px;
}

#search_bookingsummary_date, #search_bookingsummary_room, #search_bookingsummary_rate, #search_bookingsummary_total, #book_bookingsummary_date, #book_bookingsummary_room, #book_bookingsummary_rate, #book_bookingsummary_total{
  height:30px;
  background:transparent;
  border:none;
}

div#book_right.col-md-4{
  background:#ffffff;
  padding:0px;
}

div#choose_right.col-md-4{
  background:#ffffff;
  margin-top:20px;
}

form#home_form{
  margin:0px;
  padding:0px;
  width:100%;
}

div#home_bookcolumn2.col-md-7{
  padding:0px;
}

#home_daterow.row, #home_otherdetailsrow{
  margin:0px;
  padding:0px;
}

#book_bookingsummary_jumbotron, #search_bookingsummary_jumbotron{
  margin:0px;
  background:#ffffff;
}

div#book_summaryrow4.row{
  margin-top:20px;
}

div#book_summaryrow2.row{
  margin-bottom:20px;
}

div#search_summaryrow4.row{
  margin-top:20px;
}

div#search_summaryrow3.row{
  margin-top:20px;
}

form#search_availabilityform{
  width:100%;
  margin-bottom:10px;
  background:#ffffff;
  padding:5px;
}

a#home_find{
  padding:5px;
  color:#ffffff;
  font-family:'Oswald';
}

div#confirm_selectcolumn.col-md-4{
  background:#33cc33;
}

div#confirm_selectconfirm.col-md-4{
  background:linear-gradient(to right, #33cc33 0%, #ffffff 100%);
}

div#confirm_selectpayment.col-md-4{
  background:#33cc33;
}

#confirm_labelcheck-in, #confirm_labelcheck-out, #confirm_labelroom, #confirm_labelguest, #confirm_labelpayment, #confirm_labelcode, #confirm_labelroomcount{
  font-size:20px;
}

#confirm_text_areacheck-in, #confirm_text_areacheck-out, #confirm_text_areaguest, #confirm_text_areapayment, #confirm_text_arearoom, #confirm_text_areacode, #confirm_text_arearoomcount{
  font-size:10px;
  width:300px;
  background:transparent;
  border:none;
}

#confirm_cancel, #confirm_confirm{
  font-size:20px;
  padding:7px 30px;
  background:#73a624;
  color:#ffffff;
  margin:20px;
  font-family:'Oswald';
}

#confirm_buttoncolumn{
  margin-top:70px;
  text-align:right;
}

div#confirm_cancelbuttoncolumn.col-md-6{
  text-align:right;
}

div#confirm_confirmbuttoncolumn.col-md-6{
  text-align:left;
}

#confirm_labelcheck-incolumn, #confirm_labelcheck-outcolumn, #confirm_labelguestcolumn, #confirm_labelpaymentcolumn{
  text-align:right;
}

#confirm_text_areacheck-incolumn, #confirm_text_areacheck-outcolumn, #confirm_text_areaguestcolumn, #confirm_text_areapaymentcolumn{
  text-align:left;
}

a#book_donebutton{
  font-size:15px;
  color:#ffffff;
  background:#73a624;
  padding:7px 20px;
  font-family:'Oswald';
}

div#book_done_column.col-md-12{
  margin-top:30px;
  text-align:right;
}

#reservation_code_input, #reservation_email_input{
  width:500px;
  margin:0 auto;
}

button#reservation_searchbutton.btn.btn-default{
  background:#73a624;
  border:none;
  color:#ffffff;
  margin-top:20px;
}

div#reservation_searchresult{
  margin-top:30px;
}

#resrvation_column1, #resrvation_column2, #resrvation_column3, #resrvation_column4{
  font-size:15px;
}

textarea{
  height:30px;
  background:transparent;
  border:none;
}

textarea.form-control{
  height:30px;
  background:none;
  border:none;
}

div#reservation_lastrow.row{
  text-align:right;
}

#reservation_edit, #reservation_link, #edit_done{
  padding:7px 15px;
  margin-right:10px;
  color:#ffffff;
  background:#73a624;
  font-family:'Oswald';
}

div#reservation_latcolumn.col-md-12{
  padding:30px;
  padding-bottom:15px;
}

form#edit_form{
  padding:20px;
}

a#home_cancel{
  color:#73a624;
}

 #title, #cardtype, #month, #year, #room_s, #adult_s, #children {
color: #73a624;
font-size: 15px;
width: 80px;
height:33px;
background: transparent;
border: 1px solid #73a624;
border-radius: 5px;}
#cardtype, #month, #year {
margin: 10px;
}
#cardtype {
width: 150px;}
#type {
color: #73a624;
font-size: 15px;
height:33px;
background: transparent;
border: 1px solid #73a624;
border-radius: 5px;
width: 20px;
}